.edu-exp{
    max-width: 1280px;
    width: 100%;
    height: 500px;
    margin-left: 50px;
    h2{
        font-family: $font-family-irish;
        font-size: 32px;
        color: $color-white;
        margin-left: 3%;
        span{
            color: $color-yellow;
        }
    }
    .tab {
        float: left;
        // border-right: 1px solid #000;
        background-color: $body-color;
        width: 13%;
        height: 300px;
    
        button{
            display: block;
            background-color: inherit;
            color: $color-white;
            padding: 22px 16px;
            width: 100%;
            border: none;
            outline: none;
            text-align: left;
            cursor: pointer;
            transition: 0.3s;
            font-size: 17px;
    
            &:hover {
                background-color: $color-yellow;
            }
        }
        button.active {
            background-color: $section-bc;
        }
    }
    .tabcontent {
        float: left;
        padding: 0px 12px;
        width: 82%;
        border-left: none;
        height: max-content;
        color: $color-white;
    }
    #education, #works{
       div{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            .exp-box{
                max-width: 310px;
                width: 100%;
                font-family: $font-family-roboto;

                ul{
                    list-style-type: none;
                    h3{
                        color: $color-yellow;
                        font-size: 18px;
                    }
                    h4{
                        color: $color-brown;
                        font-size: 16px;
                    }
                    h5{
                        color: $color-brown;
                        font-size: 12px;
                    }
                    .fas{
                        color: tomato;
                    }
                }
            }
        }
    }
    #career{
        ul{
            position: relative;
            list-style-type: none;

            li{
                font-family: $font-family-roboto;
                line-height: 28px;
                margin-left: 30px;
                font-size: 14px;
                .fas{
                    margin-right: 5px;
                    color: crimson;
                }
            }
        }
    }
    #skills{
        .skills-box{
            float: left;
            margin-left: 20%;
            margin-top: -40px;
            
            h3{
                color: $color-yellow;
                display: inline-block;
                margin-left: 20px;
            }
            ul{
                position: relative;
                margin-top: -10px;

                li{
                    position: relative;
                    list-style: none;
                    margin: 8px 0;
                    padding-left: 50px;
                    background: $section-bc;
                    border-radius: 20px;
                    font-family: $font-family-roboto;
                    font-size: 12px;

                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 14px;
                        height: 14px;
                        background: crimson;
                        border-radius: 50%;
                    }
                }
            }

        }
    }
}

