@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
.h2-header, .profile .info-text h2, .about-me h2, .edu-exp h2, .slides h2, .contact-form h2 {
  font-family: "Mochiy Pop P One", sans-serif;
  color: brown;
  margin-left: 30px;
}

.h2-header, .profile .info-text h2, .about-me h2, .edu-exp h2, .slides h2, .contact-form h2 {
  font-family: "Mochiy Pop P One", sans-serif;
  color: brown;
  margin-left: 30px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1b1e2f;
}

nav {
  height: 80px;
  width: 100%;
}

nav label #bar-btn, nav label #cancel {
  color: #ffffff;
  font-size: 30px;
  float: right;
  line-height: 40px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

nav #check {
  display: none;
}

nav .logo {
  font-size: 34px;
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  top: 17px;
  left: 12%;
  font-family: "Irish Grover", cursive;
}

nav ul {
  float: right;
  margin-right: 8%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  line-height: 40px;
  margin: 0 40px;
}

nav ul li a {
  text-decoration: none;
  position: relative;
  color: #ffffff;
  font-family: "Irish Grover", cursive;
  font-size: 21px;
  padding: 5px 0;
}

nav ul li a::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .4s linear;
  transition: -webkit-transform .4s linear;
  transition: transform .4s linear;
  transition: transform .4s linear, -webkit-transform .4s linear;
}

nav ul li a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media screen and (max-width: 1118px) {
  nav .logo {
    left: 8%;
  }
}

@media screen and (max-width: 944px) {
  nav .logo {
    left: 6%;
    top: 12px;
    width: 130px;
  }
  nav ul li a {
    font-size: 15px;
  }
}

@media screen and (max-width: 820px) {
  nav label #bar-btn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #23263a;
    top: 80px;
    left: -120%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav #check:checked ~ ul {
    left: 0;
  }
  nav #check:checked ~ label #bar-btn {
    display: none;
  }
  nav #check:checked ~ label #cancel {
    display: block;
  }
}

.h2-header, .profile .info-text h2, .about-me h2, .edu-exp h2, .slides h2, .contact-form h2 {
  font-family: "Mochiy Pop P One", sans-serif;
  color: brown;
  margin-left: 30px;
}

.profile {
  max-width: 400px;
  width: 100%;
  height: 440px;
  margin-left: 50px;
  margin-top: 80px;
}

.profile .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .img img {
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.profile .info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ffffff;
  font-family: "Indie Flower", cursive;
}

.profile .info-text h4 {
  font-size: 18px;
}

.profile .info-text p {
  width: 90%;
  height: 120px;
  line-height: 24px;
}

.profile .icons {
  font-size: 24px;
  margin-left: 3%;
  margin-left: 25%;
}

.profile .icons .fab {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: #333;
  color: #ffffff;
  margin-right: 20px;
}

.profile .icons .fab:hover {
  background-color: darkblue;
}

.h2-header, .profile .info-text h2, .about-me h2, .edu-exp h2, .slides h2, .contact-form h2 {
  font-family: "Mochiy Pop P One", sans-serif;
  color: brown;
  margin-left: 30px;
}

.about-me {
  max-width: 700px;
  height: 520px;
  width: 100%;
  margin-left: 120px;
  background-color: #23263a;
}

.about-me .img {
  max-width: 700px;
  width: 100%;
  height: 300px;
}

.about-me p {
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.h2-header, .profile .info-text h2, .about-me h2, .edu-exp h2, .slides h2, .contact-form h2 {
  font-family: "Mochiy Pop P One", sans-serif;
  color: brown;
  margin-left: 30px;
}

.edu-exp {
  max-width: 1280px;
  width: 100%;
  height: 500px;
  margin-left: 50px;
  margin-top: 80px;
}

.edu-exp .tab {
  float: left;
  background-color: #1b1e2f;
  width: 13%;
  height: 300px;
}

.edu-exp .tab button {
  display: block;
  background-color: inherit;
  color: #ffffff;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}

.edu-exp .tab button:hover {
  background-color: brown;
}

.edu-exp .tab button.active {
  background-color: #353849;
}

.edu-exp .tabcontent {
  float: left;
  padding: 0px 12px;
  width: 82%;
  border-left: none;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
}

.edu-exp #education div, .edu-exp #works div, .edu-exp #skills div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.edu-exp #education div .exp-box, .edu-exp #works div .exp-box, .edu-exp #skills div .exp-box {
  max-width: 310px;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.edu-exp #education div .exp-box ul, .edu-exp #works div .exp-box ul, .edu-exp #skills div .exp-box ul {
  list-style-type: none;
}

.edu-exp #education div .exp-box ul h3, .edu-exp #works div .exp-box ul h3, .edu-exp #skills div .exp-box ul h3 {
  color: #00450c;
  font-size: 18px;
}

.edu-exp #education div .exp-box ul h4, .edu-exp #works div .exp-box ul h4, .edu-exp #skills div .exp-box ul h4 {
  color: teal;
  font-size: 16px;
}

.edu-exp #education div .exp-box ul h5, .edu-exp #works div .exp-box ul h5, .edu-exp #skills div .exp-box ul h5 {
  color: teal;
  font-size: 16px;
}

.edu-exp #education div .exp-box ul .fas, .edu-exp #works div .exp-box ul .fas, .edu-exp #skills div .exp-box ul .fas {
  color: tomato;
}

.edu-exp #career p {
  font-family: "Roboto", sans-serif;
  line-height: 28px;
}

.edu-exp #career .fas {
  color: tomato;
  font-size: 10px;
}

.h2-header, .profile .info-text h2, .about-me h2, .edu-exp h2, .slides h2, .contact-form h2 {
  font-family: "Mochiy Pop P One", sans-serif;
  color: brown;
  margin-left: 30px;
}

.slides {
  margin-top: 80px;
}

.slides h2 {
  margin-left: 200px;
}

.slides .img-slides-container {
  max-width: 1000px;
  width: 100%;
  height: 350px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.slides .img-slides-container .slideshow-container {
  position: absolute;
  width: 300%;
  left: 0;
  -webkit-animation: item-slides 15s infinite;
          animation: item-slides 15s infinite;
}

.slides .img-slides-container .slideshow-container div {
  width: 33.3%;
  float: left;
}

.slides .img-slides-container .slideshow-container:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.slides .works-info {
  max-width: 700px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 20px auto;
}

.slides .works-info .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slides .works-info .info-container .info-box {
  max-width: 300px;
  background-color: #23263a;
}

.slides .works-info .info-container .info-box h3 {
  color: #ffffff;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid brown;
  font-family: "Indie Flower", cursive;
  font-size: 24px;
}

.slides .works-info .info-container .info-box p {
  font-family: "Roboto", sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  color: #ffffff;
}

.slides .works-info .info-container .info-box a {
  padding: 4px 70px;
  margin-left: 20%;
  background-color: brown;
  color: #ffffff;
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
}

@-webkit-keyframes item-slides {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  75% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes item-slides {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  75% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.h2-header, .profile .info-text h2, .about-me h2, .edu-exp h2, .slides h2, .contact-form h2 {
  font-family: "Mochiy Pop P One", sans-serif;
  color: brown;
  margin-left: 30px;
}

.contact-form h2 {
  margin-left: 300px;
}

.contact-form .contact {
  max-width: 1000px;
  width: 100%;
  height: 570px;
  margin: 0 auto;
}

.contact-form .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.contact-form .contact form input[type="text"], .contact-form .contact form input[type="email"], .contact-form .contact form input[type="number"], .contact-form .contact form textarea {
  width: 95%;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}

.contact-form .contact form input[type="submit"] {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: brown;
  width: 20%;
  margin: 0 auto;
}

.contact-form .contact form label {
  font-family: "Indie Flower", cursive;
  font-size: 24px;
  color: #ffffff;
  margin-left: 20px;
}

.inline-block-section section {
  display: inline-block;
}
/*# sourceMappingURL=index.css.map */